<div class="datalist">
            
    <div class="add_element">
        <a class="plus_btn" href="#"></a>
        <p>new account</p>
    </div>
    
    <div class="searchbox">
        <input class="searchsubmit1" type="image" alt="Search" src="${_u()}/whapps/core/layout/images/search_left.png" />
        <input type="text" class="searchfield" name="search" value="Search">
        <input class="searchsubmit2" type="image" alt="Search" src="${_u()}/whapps/core/layout/images/search_right.png" />
        <div class="clear"></div>
    </div>
    
    <div class="elements">
            <ul>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>
                                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>
                                          
                </li>
                
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>
                                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>
                                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>
                                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>                          
                </li>
                <li>
                <a href="">Account name</a>
                <div class="account_arrow"><a href=""></a></div>
                                          
                </li>
            </ul>                   
    <!----end elements---->
    </div>
    
    <a class="detailed_listing" href="#">View Detailed Listing</a>
        
        
        
</div>
<!----end .datalist---->