/*
    Document   : voip
    Created on : Jun 23, 2011, 9:24:17 PM
    Author     : dman
    Description:
        Purpose of the stylesheet follows.
*/
#voip_welcome-view {
    text-align: center;
    padding-bottom: 20px;
}

#voip_welcome-view #voip_api_url {
    margin-top: 25px;
}

#voip_welcome-view .welcome_div {
    margin: 50px auto auto;
    /*no need width: 702px;
    box-shadow: 2px 2px 2px #333333;
    background: #333333;
    color: #bbbbbb;*/
    border-radius: 5px;
		float:left;
		width:100%;
}

#voip_welcome-view .welcome_div h1 {
    font-size: 30px;
		/*no need color: #bbbbbb;
    text-shadow: 1px 1px 1px #000;*/
}

#voip_welcome-view .welcome_div .welcome_header {
    padding: 20px 0px;
}

#voip_welcome-view .welcome_div .content_title {
    /*no need background: url('images/header_bar.png') repeat-x center;
		box-shadow: 1px 1px 3px #181818;
		*/
    height: 24px;
    line-height: 24px;
    
    text-align: left;
}

#voip_welcome-view .welcome_div .content_title div {
    /*no need color: #05addc;
		text-shadow: 1px 1px 2px #222;*/
    width: 320px;
    padding-left: 30px;
    float: left;
    
    font-size: 15px;
}

#voip_welcome-view .welcome_div .content .title {
    /*no need color: #05addc;*/
		font-size:12px;
}

#voip_welcome-view .welcome_div .content .content_block.hoverable:hover {
    box-shadow: inset 0px 0px 50px 0px #666;
    cursor: pointer;
}

#voip_welcome-view .welcome_div .content .content_block .content_line {
    width: 250px;
    margin: auto;
    font-weight: bold;
    font-size: 12px;
}

#voip_welcome-view .welcome_div .content .content_block .content_line .right {
    float: right;
    margin-top: 3px;
}

#voip_welcome-view .welcome_div .content .content_half {
    float: left;
    width: 49%;
    height: 405px;
    text-align: left;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#voip_welcome-view .welcome_div .content .content_half:last-child {
    border-right: none;
}

#voip_welcome-view .welcome_div .content .content_half:first-child {
    border-left: none;
}

#voip_welcome-view .welcome_div .content .content_half .content_block:last-child {
    border-bottom: none;
}

#voip_welcome-view .welcome_div .content .content_half .content_block:first-child {
    border-top: none;
}

#voip_welcome-view .welcome_div .content .content_half .content_block {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

#voip_welcome-view .welcome_div .content .content_block .edit_icon {
    display: inline-block;
    background: url('images/edit_icon.png') no-repeat center;
    width: 20px;
    height: 18px;
    margin: 0 0 -3px 10px;
    cursor: pointer;
}

#voip_welcome-view .welcome_div .content .content_block .icon {
    margin-right: 10px;
}

#voip_welcome-view .welcome_div .content .content_block .field {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
    color: #5dc151;
}

#voip_welcome-view .welcome_div .content .content_block .field.text {
    font-size: 12px;
    /*no need color: #fff;*/
    font-weight: normal;
}

#voip_welcome-view .welcome_div .content .content_block #sub_accounts {
    margin-left: 5px;
    width: 150px;
}

#voip_welcome-view .welcome_div .content .content_block .button_accounts {
    padding: 5px;
    margin-top: 11px;
    text-align: center;
    height: 27px;
}

#voip_welcome-view .welcome_div .content .content_block .button_accounts .fancy_button {
    width: auto;
}

#voip_welcome-view .welcome_div .content .content_block .content_line.account {
    padding: 10px 0;
}

#voip_welcome-view .welcome_div .content .content_block .account_bars .field {
    color: #05addc;
    padding: 0px;
    text-align: left;
    width: 30px;
    margin-left: 10px;
    display: inline-block;
}

#voip_welcome-view .welcome_div .content .content_block .account_bars .content_line {
    width: 300px;
    padding-bottom: 10px;
}

#voip_welcome-view .welcome_div .content .content_block .account_bars .bar_wrapper {
    float: right;
    height: 18px;
}

#voip_welcome-view .welcome_div .content .content_block .account_bars .progress_bar {
    background-color: #05addc;
    display: inline-block;
    width: 100px;
    height: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #333333;
}

#voip_welcome-view .welcome_div .content .content_block .field.account_name {
    color: #05addc;
    font-size: 15px;
}

#voip_welcome-view .welcome_div .content .content_block .pie_chart_wrapper {
    width: 300px;
    height: 120px;
    margin: auto;
    padding-top: 11px;
    color: #FFFFFF;
}

#voip_welcome-view .welcome_div .content .content_block .pie_chart_wrapper td {
    border: none;
}

#voip_welcome-view .welcome_div .content .content_block .pie_chart_wrapper .jqplot-table-legend-swatch-outline {
    border: none;
    padding: 0;
    box-shadow: 2px 2px 2px #222222;
}
