form {
    margin-bottom: 18px;
}
li{
	color: #808080;
  line-height: 18px;
}
label {
    color: #404040;
    float: left;
    font-size: 13px;
    line-height: 18px;
    padding-top: 6px;
    text-align: right;
    width: 130px;
}
.tab-content > .tab-pane, .pill-content > .pill-pane, .tab-content > div, .pill-content > div {
    display: none;
}

.tab-content > .active, .pill-content > .active {
    display: block;
}
.tabs > li, .pills > li {
    float: left;
}

.tabs:before, .pills:before, .tabs:after, .pills:after {
    content: "";
    display: table;
}
.tabs:after, .pills:after {
    clear: both;
}

form .clearfix:before, form .clearfix:after {
    content: "";
    display: table;
}
form .clearfix:after {
    clear: both;
}
form .clearfix:before, form .clearfix:after {
    content: "";
    display: table;
}
form .clearfix {
    margin-bottom: 18px;
}
form .input {
    margin-left: 150px;
}

.inputs-list:first-child {
    padding-top: 6px;
}
.inputs-list {
    margin: 0 0 5px;
    width: 100%;
}
ul, ol {
    margin: 0;
}
ul {
    list-style: disc outside none;
}
ul, ol {
    margin: 0 0 18px 25px;
}
ol, ul {
    list-style: none outside none;
}


.inputs-list li {
    display: block;
    padding: 0;
    width: 100%;
}

.inputs-list label {
    display: block;
    float: none;
    line-height: 18px;
    margin-left: 20px;
    padding: 0;
    text-align: left;
    white-space: normal;
    width: auto;
}
.reset_all {
	margin:0;
	padding:0;
	border:0;
	font-weight:normal;
	font-style:normal;
	font-size:100%;
	line-height:1;
	font-family:inherit;
}

.reset_margin {
	margin:0;
}

.reset_padding {
	padding:0;
}

.reset_border {
	border:0;
	background-color:none;
}

.gradient_strong {
	background:#434343;
	background:-moz-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #434343), color-stop(50%, #353535), color-stop(100%, #282828));
	background:-webkit-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:-o-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:-ms-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#434343', endColorstr='#282828', GradientType=0);
}

.gradient_light {
	background:#373737;
	background:-moz-linear-gradient(top, #373737 0, #2e2e2e 50%, #2f2f2f 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #373737), color-stop(50%, #2e2e2e), color-stop(100%, #2f2f2f));
	background:-webkit-linear-gradient(top, #373737 0, #2e2e2e 50%, #2f2f2f 100%);
	background:-o-linear-gradient(top, #373737 0, #2e2e2e 50%, #2f2f2f 100%);
	background:-ms-linear-gradient(top, #373737 0, #2e2e2e 50%, #2f2f2f 100%);
	background:linear-gradient(top, #373737 0, #2e2e2e 50%, #2f2f2f 100%);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#373737', endColorstr='#2f2f2f', GradientType=0);
}
/*no neeed
h1, h2, h3, h4, h5 {
	text-shadow:1px 2px #363636;
	color:#05ADDC;
	font-weight:lighter;
}

h3 {
	font-size:14px;
}

h1 {
	font-size:24px;
	letter-spacing: 1px;
}

label {
	color:#e6e6e6;
}

hr {
	margin:0;
	border-top:1px solid #404040;
	border-bottom:1px solid #202020;
}
*/
.btn {
	min-width:72px;
}
/*no need
input[type="file"] {
	background-color:transparent;
	padding-top:5px;
}

input {
	color:#555;
}

ul, ol {
	margin:0;
}
*/
form .clearfix:last-child {
	margin-bottom:0;
}

.toggled {
	margin-bottom:30px;
	margin-top:30px;
}

.whapp-header>h1, .whapp-header>h2, .whapp-header>h3 {
	/*float:left;*/
}

.whapp-header>.buttons-right {
	margin-top:10px;
}

.input-append>span.add-on {
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:3px;
	margin:0;
	margin-right:-1px;
	font-size:16px;
	font-weight:bold;
}

.input-append>input {
	-webkit-border-top-left-radius:0;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-bottom-left-radius:0;
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-bottomleft:0;
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
}

.tabs {
	border:0;
	background-color:none;
	margin:0;
	list-style: none outside none;
}

.tabs>li {
	/*no need background:#434343;
	background:-moz-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #434343), color-stop(50%, #353535), color-stop(100%, #282828));
	background:-webkit-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:-o-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:-ms-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#434343', endColorstr='#282828', GradientType=0);*/
	
	border-top:1px solid;
	border-top-color:#ccc;
	border-left:1px solid;
	border-left-color:#ccc;
	float:left;
}

.tabs>li:first-child {
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-bottom-left-radius:0;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-bottomleft:0;
	border-top-left-radius:5px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	border-left:1px solid;
	border-left-color:#ccc;
}

.tabs>li:last-child {
	-webkit-border-top-left-radius:0;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-bottom-left-radius:0;
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-bottomleft:0;
	border-top-left-radius:0;
	border-top-right-radius:5px;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	border-right:1px solid;
	border-right-color:#ccc;
}

.tabs .active {
	border-top:0;
	border-bottom:1px solid #ccc;
}

.tabs>li>a {
	border:0;
	background-color:none;
	margin:0;
	-webkit-border-top-left-radius:0;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-bottom-left-radius:0;
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-bottomleft:0;
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	/*no need color:#fff;*/
	font-size:12px;
	line-height: 34px;
	padding: 0 1px;
	display: block;
	text-decoration:none;
}

.tabs>li:first-child.active {
	border-left:1px solid #05addc;
}

.tabs>li:last-child.active {
	border-right:0;
}

.tabs>li>a>.icon {
	margin-right:3px;
}

.tabs>li>a:hover {
	/*no need color:#fff;*/
	background-color:transparent;
}

.tabs .active, .tabs .active>a {
	border-left:none;
}

.tabs .active>a {
	border-right:0;
}

.tabs .active>a, .tabs .active>a:hover {
	border:0;
	background-color:none;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-bottom-left-radius:0;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-bottomleft:0;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	/*color:#fff;
	no need background:#373737;*/
	background-color: #E6E6E6;
	background-image: -moz-linear-gradient(center top , #F4F4F4, #E6E6E6);
	background-repeat: repeat-x;
	border-top:1px solid;
	border-top-color:#05addc;
	border-left:1px solid;
	border-left-color:#05addc;
	border-right:1px solid;
	border-right-color:#05addc;
	/*no need font-weight:bold;*/
	font-size: 12px;
}

.tabs li:first-child.active>a {
	border-left:none;
}

.pill-content {
	/*no need background:#373737;
	background:-moz-linear-gradient(top, #373737 0, #2e2e2e 50%, #2f2f2f 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #373737), color-stop(50%, #2e2e2e), color-stop(100%, #2f2f2f));
	background:-webkit-linear-gradient(top, #373737 0, #2e2e2e 50%, #2f2f2f 100%);
	background:-o-linear-gradient(top, #373737 0, #2e2e2e 50%, #2f2f2f 100%);
	background:-ms-linear-gradient(top, #373737 0, #2e2e2e 50%, #2f2f2f 100%);
	background:linear-gradient(top, #373737 0, #2e2e2e 50%, #2f2f2f 100%);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#373737', endColorstr='#2f2f2f', GradientType=0);*/
	padding:30px;
	/*border:1px solid #ccc;
	box-shadow:1px 2px 5px 0px #363636;
	-moz-box-shadow:4px 5px 10px 1px #262626;
	-webkit-box-shadow:4px 5px 10px 1px #262626;*/

}

.pill-content h3, .row h3 {
	margin-bottom:20px;
	/*no need color:#0ac9ff;*/
}

.pill-content .edit_create {
	margin-left:20px;
	display:inline;
}
.pill-content .edit_create a {
	color: #EEE;
}



.pill-content .edit_create > a:not(:first-child) {
	margin-left:5px;
}

.btn.black {
	/*no need background:#434343;
	background:-moz-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #434343), color-stop(50%, #353535), color-stop(100%, #282828));
	background:-webkit-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:-o-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:-ms-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#434343', endColorstr='#282828', GradientType=0);
	color:#e6e6e6;
	border:1px solid #1a1a1a;*/
	text-shadow:none;
	font-size:12px;
	
}

.btn.black.activate {
	/*no need box-shadow:inset 0 0 10px 1px #000;
	-moz-box-shadow:inset 0 0 10px 1px #000;
	-webkit-box-shadow:inset 0 0 10px 1px #000;*/
}

.btn.black:hover {
	/*no need color:#e6e6e6;
	background:#434343;
	background:-moz-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #434343), color-stop(50%, #353535), color-stop(100%, #282828));
	background:-webkit-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:-o-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:-ms-linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	background:linear-gradient(top, #434343 0, #353535 50%, #282828 100%);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#434343', endColorstr='#282828', GradientType=0);
	box-shadow:inset 0 0 10px 1px #000;
	-moz-box-shadow:inset 0 0 10px 1px #000;
	-webkit-box-shadow:inset 0 0 10px 1px #000;*/
}

.buttons-right {
    margin-bottom: 25px;
    text-align: right;
		float:right;
}

.buttons-right>.btn:not(:last-child) {
	margin-right:6px;
}

.pasted>.btn:first-child {
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-bottomleft:4px;
	border-top-left-radius:4px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:4px;
	margin-right:-4px;
}

.pasted>.btn:last-child {
	-webkit-border-top-left-radius:0;
	-webkit-border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:0;
	-moz-border-radius-topleft:0;
	-moz-border-radius-topright:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-bottomleft:0;
	border-top-left-radius:0;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:0;
}


